#wrapper {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'hd'
    'nv'
    'ft'
    ;
}

header {
    grid-area: hd;
    text-align: center;
}

header h2 {
background-image: url(/img/petpallogo.png);
width: 10vh;
color:#3498db;
height: 10vh;
background-size: cover;
}

header h1 {
    color: #3498db;
    font-size: 40pt;

}

nav {
    grid-area: nv;
    display: flex;
    justify-content: center;
    font-size: 15pt;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 1rem 0.5rem 1rem;

}

nav ul li a {
    color: #3498db;
    text-decoration: none;
    
}

nav ul li a:hover {
    text-decoration: underline;
}

main section {
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    
}

#cr1 {
    font-size: 3vh ;
    display: flex;
}

#cr2 {
    
    width: 50vh;
    height: 5vh;
    background-color: #3498db;
    color: white;
    font-size: 2vh;
    
}
#cr3 {
    height: 5vh;
    width: 50vh;
    background-color: #3498db;
    color: white;
    font-size: 2vh;
}

#cr4 {
    height: 5vh;
    width: 50vh;
    background-color: #3498db;
    color: white;
    font-size: 2vh;
}

#cr5 {
    width: 50vh;
    height: 5vh;
    background-color: #3498db;
    color: white;
    font-size: 2vh;
}

footer {
    grid-area: ft;
    background-color: #3498db ;
    height: 20%;
    color: white;
}

@media screen and (max-width:600px){
    body{
        background-color: #3074a1;
    }

    header{
        position:relative;
    }

    header h1 {
        color: white;
    }

    #hamburger {
        /* border: 3px solid black; */
        height: 1.5rem;
        width: 2.2rem;
        position:absolute;
        top: 0.7rem;
        right:0.7rem;
    }

    #hamburger div {
        border: 2px solid white;
        margin: 0.3rem;
    }
    #hamburger #line {
        border-color: white;
    }
    #hamburger #line2 {
        border-color: white;
    }
    #hamburger #line3 {
        border-color: white;
    }

    nav {
        justify-content: center;
        max-height: 0;
        overflow: hidden;
    }

    nav.active {
        max-height: 1000px;
    }

    nav ul {
        padding:0;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        height: 100%;
        color: white;
    }

    main {
        color: white;
    }

    nav ul li:hover {
    text-decoration: underline;
    }

    footer{
        background-color: white;
        color: #3074a1;
    }
}